# Local configuration
/.docker.env
/.env
/.haml-lint.yml
/.reek
/.rubocop.yml
/.yardoc
/coffeelint.json
/config/secrets.yml.key
/config/settings.local.yml

# IDEs
*.swo
*.swp

# Local Ruby environment
/.docker-sync
/node_modules
/vendor/bundle

# Logfiles and tempfiles
!/log/.keep
!/tmp/.keep
.byebug_history
/.sass-cache
/coverage
/log/*
/public/image_uploads
/public/system
/public/uploads
/spec/examples.txt
/tmp/*
/yarn-error.log

# Other
.DS_Store
